body {
  background: linear-gradient(348deg, #ff0000 0%, #ff6700 100%);
}
#title {
  font-family: 'Chau Philomene One', sans-serif;
  color: white;
  -webkit-text-stoke: 1px black;
  -webkit-text-fill-color: white;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#pirategamebutton {
  font-family: sans-serif;
  cursor: help;
  border: 4px solid #141414;
}
