body {
  bgcolor: white;
}
#title {
  font-family: 'Chau Philomene One', sans-serif;
}
#subtitle {
  font-family: sans-serif;
}
#projects {
  font-family: 'Chau Philomene One', sans-serif;
}
#pirategamebutton {
  font-family: sans-serif;
}
