body {
  background: linear-gradient(348deg, #ff0000 0%, #ff6700 100%);
}
#title {
  font-family: 'Chau Philomene One', sans-serif;
}
#subtitle {
  font-family: sans-serif;
}
#projects {
  font-family: 'Chau Philomene One', sans-serif;
}
#pirategamebutton {
  font-family: sans-serif;
  cursor: help;
}
